<p-dialog header="Meeting" [(visible)]="newMeetingDialogVisible" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" (onHide)="close()">
    <form name="form" #f="ngForm" novalidate>
        <div>
            <div class="card p-fluid">
                <div class="field">
                    <label htmlFor="name">Meeting Name</label>
                    <input pInputText [(ngModel)]="this.model.name" name="name" type="text" #name="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                    <div *ngIf="name.invalid" class="invalid-feedback">
                        <span *ngIf="name.errors">Meeting Name is required</span>
                    </div>
                </div>
                <div class="field">
                    <label htmlFor="explanation">Meeting Explanation</label>
                    <input pInputText [(ngModel)]="this.model.explanation" name="explanation" type="text"
                        #explanation="ngModel" [ngClass]="{ 'is-invalid': f.submitted && explanation.invalid }" />
                </div>
                <div class="field">
                    <label htmlFor="startTime">Meeting Starting Time</label>
                    <p-calendar [(ngModel)]="this.model.startTime" [showTime]="true" [showSeconds]="true"
                        name="startTime" #startTime="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && startTime.invalid }" appendTo="body"></p-calendar>
                    <div *ngIf="startTime.invalid" class="invalid-feedback">
                        <span *ngIf="startTime.errors">Meeting Starting Time is required</span>
                    </div>
                </div>
                <div class="field">
                    <label htmlFor="endTime">Meeting Ending Time</label>
                    <p-calendar [(ngModel)]="this.model.endTime" [showTime]="true" [showSeconds]="true" name="endTime"
                        #endTime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && endTime.invalid }"
                        appendTo="body"></p-calendar>

                    <div *ngIf="endTime.invalid" class="invalid-feedback">
                        <span *ngIf="endTime.errors">Meeting Ending Time is required</span>
                    </div>
                </div>
                <div class="field">
                    <label htmlFor="attachments">Meeting Attachments</label>
                    <p-fileUpload #fileUpload mode="basic" chooseLabel="Choose" name="meetingAttachments[]"
                        [customUpload]="true" [multiple]="true"></p-fileUpload>
                </div>
                <div class="field" *ngIf="model.attachments.length>0">
                    <label htmlFor="attachments">Attachments Index</label>
                    <p-table [value]="model.attachments" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Attachment Name</th>
                                <th>Options</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{ item.fileName }}</td>
                                <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="confirm($event,item)"></button></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
            <p-button label="Close" (onClick)="close()" icon="pi pi-times" styleClass="p-button-danger"></p-button>
            <p-button label="Save" (onClick)="save()" icon="pi pi-check" iconPos="right" styleClass="p-button-success">
            </p-button>
        </div>
    </ng-template>
</p-dialog>
<p-toast position="top-center"></p-toast>